:root {
  font-family: "coder", "Roboto", Sans-serif;
  --primary: #00e3ff;
  --primary-text: #bababa;
  --secondary: #E0B34E;
  --secondary-text: #FCFCFC;
  --accent: #505050;
  --accent-text: #FCFCFC;
}